*{
  font-family:Arial;
}
#main-heading{
    text-align: center;
}
.grid-container{
   display: grid;
   grid-template-columns: 150px 120px 100px;
   column-gap: 10px;
   row-gap: 10px;
   margin-top: 10px;
   align-items: center;
}

.btn-delete{
  background-color: brown;
  color: honeydew;
  cursor: pointer;
  border: 0px;
  border-radius: 10px 100px;
  padding: 10px 0px;
}
.add-btn{
  background-color: rgb(18, 202, 18);
  color: rgb(238, 229, 229);
  border: 0px;
  border-radius: 10px 100px;
  padding: 10px 0px;
  cursor: pointer;
}